<p-table [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Departamento</th>
          <th>Fecha envio</th>
          <th>Costo envio</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-envio>
      <tr>
          <td>{{ envio.nombre_cliente}}</td>
          <td>{{ envio.direccion_cliente}}</td>
          <td>{{ envio.telefono_cliente}}</td>
          <td>{{ envio.nombre_producto}}</td>
          <td>{{ envio.cantidad_pedido}}</td>
          <td>{{ envio.nombre_departamento}}</td>
          <td>{{ envio.fecha_envio}}</td>
          <td>{{ envio.costo_envio}}</td>
            <button></button>
      </tr>
  </ng-template>
</p-table>
